/* Your code goes here */


/* .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  border: 1px solid #fff;
} */

/* .container div{
  float: right;
} */

.grid{
  display: flex;
}

.cell{
  flex: 1;
  margin: 10px 0 10px 10px;
  background: #fff;
  padding: 0;
}

.gutters{
  margin: -10px 0 0 -10px;
}

.large{
  flex-grow: 3;
}




